﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Page InputData</h1>
    <form action="/Home/ResultData">
        <table>
            <tr>
                <td>Название параметра 1</td>
                <td><input type="text" name="data.param1" /></td>
            </tr>
                    <tr>
                <td>Название параметра 2</td>
                <td><input type="text" name="data.param2" /></td>
            </tr>
        </table>
        <button type="submit">Вычислить результат</button>
    </form>

    <table></table>
    
  
</div>
